
body{
    background-color: rgb(57, 181, 212);
    margin: 25px;
    font-family:'Times New Roman', Times, serif;
}

#welcome{
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    background-color:lightcyan;
    padding: 15px;
    border-radius: 1cm 1cm 0cm 0cm;
}
#welcome:hover{
    text-decoration: underline;
}

#buttons{
    text-align: center;
    justify-content: space-around;
    display: flex;
    padding: 15px;
    background-color: lightblue;
}

button{
    background-color:lightcoral;
    font-size: x-large;
    border-radius: 0.5cm;
}

button:hover{
    background-color: lightsalmon;
    text-decoration: underline;
    color: aliceblue;
    font-size: xx-large;
}


#products{
    background-color:rgb(185, 255, 255);
    display: flex;
    flex-direction:row;
    font-size:larger;
    justify-content: space-around;
  
}

#div1{
    display: flex;
    align-items: center;
    flex-direction:column;
    padding: 13px;
    font-weight: 500;
    border: 10px solid dimgray;
    border-radius: 1cm;
    width: 250px;
    margin: 15px;
}

img{
    width: 200px;
    height: auto;
    border-radius: 0.5cm;
}

#load_div{
    padding: 2px;
    margin: 5px;
    display: flex;
    justify-content: center;
}