body{
    background-color: rgb(57, 181, 212);
    margin: 25px;
}

#welcome{
    border-radius: 2cm 2cm 0cm 0cm;
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    background-color:lightcyan;
    padding: 5px;
}
#welcome:hover{
    text-decoration: underline;
}


#form1,#form2{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /* background-color:rgb(185, 255, 255); */
    background-color:lightblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}


#buttons{
    text-align: center;
    justify-content: space-around;
    display: flex;
    padding: 20px;
    background-color:rgb(185, 255, 255);
    border-radius: 0cm 0cm 1cm 1cm;
}


button{
    background-color:lightcoral;
    font-size: x-large;
}
button:hover{
    background-color: lightsalmon;
    text-decoration: underline;
    color: aliceblue;
    font-size: xx-large;
}

label{
    font-size: large;
}

label:hover{
    text-decoration: underline;
    font-size: x-large;
    color:rgb(252, 110, 157);
}


input{
    background-color: rgb(0, 0, 0);
    padding: 3px;
    margin-bottom: 15px;
    font-size: large;
    color: rgb(255, 255, 255);
    border-color: rgb(231, 4, 4);
}

input:focus-visible{
    background-color:rgb(94, 154, 233);
    color: black;
}
input:hover{
    background-color: aliceblue;
    color: black;
}