body{
    background-color: rgb(57, 181, 212);
    margin: 25px;
}

#submit1{
    text-align: center;
    padding: 10px;
    background-color: lightblue;
    font-size: x-large;
    border-radius: 1cm 1cm 0cm 0cm;

}
#submit2{
    background-color:rgb(137, 255, 126);
    font-size: x-large;
}
#submit2:hover{
    background-color:rgb(106, 250, 93);
    font-size: xx-large;
}

button{
    background-color:lightcoral;
    font-size: x-large;
}
button:hover{
    background-color: lightsalmon;
    font-size: xx-large;
}


#form1,#form2{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color:lightcyan;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 500;
}

label{
    font-size: large;
}

label:hover,span:hover{
    font-size: x-large;
}

#products{
    /* display: flex; */
    background-color: rgb(116, 233, 233);
    font-size:larger;
    border-radius: 0cm 0cm 2cm 2cm;
}

#div1{
    display: flex;
    justify-content: space-around;
    padding: 13px;
    font-weight: 500;
}
