body{
    background-color: rgb(57, 181, 212);
    margin: 25px;
}

/* #submit1{
    text-align: center;
    padding: 10px;
    background-color: rgb(137, 203, 223);
    font-size: x-large;
    border-radius: 1cm 1cm 0cm 0cm;

}
#submit2{
    background-color:rgb(137, 255, 126);
    font-size: x-large;
}
#submit2:hover{
    background-color:rgb(106, 250, 93);
    color: aliceblue;
    font-size: xx-large;
    text-decoration: underline;
} */

#welcome{
    border-radius: 2cm 2cm 0cm 0cm;
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    background-color:lightcyan;
    padding: 5px;
}
#welcome:hover{
    text-decoration: underline;
}

button{
    background-color:lightcoral;
    font-size: x-large;
}
button:hover{
    background-color: lightsalmon;
    text-decoration: underline;
    color: aliceblue;
    font-size: xx-large;
}


#form1,#form2{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /* background-color:rgb(185, 255, 255); */
    background-color:lightblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

label{
    font-size: large;
}

label:hover,span:hover{
    text-decoration: underline;
    font-size: x-large;
    color:rgb(252, 110, 157);
}

#products{
    /* display: flex; */
    /* background-color: rgb(116, 233, 233); */
    background-color:rgb(185, 255, 255);
    font-size:larger;
    border-radius: 0cm 0cm 1cm 1cm;
}

#div1{
    display: flex;
    justify-content: space-around;
    padding: 13px;
    font-weight: 500;
}

input{
    background-color: rgb(0, 0, 0);
    padding: 3px;
    margin-bottom: 15px;
    font-size: large;
    color: rgb(255, 255, 255);
    border-color: rgb(231, 4, 4);
}

input:focus-visible{
    background-color:rgb(94, 154, 233);
    color: black;
}

input:hover{
    background-color: aliceblue;
    color: black;

}