body{
    background-color: rgb(57, 181, 212);
    margin: 25px;
    font-family:'Times New Roman', Times, serif;
}

#form3{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-weight: 500;
    background-color:lightcyan;
    border-radius: 1cm 1cm 0cm 0cm;
}

#welcome{
    font-size: xx-large;
    font-weight: 700;
    padding: 5px;
}
#welcome:hover{
    text-decoration: underline;
}


button{
    background-color:lightcoral;
    font-size: x-large;
}
button:hover{
    background-color: lightsalmon;
    text-decoration: underline;
    color: aliceblue;
    font-size: xx-large;
}


#form1,#form2{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    padding: 5px;
    /* background-color:rgb(185, 255, 255); */
    background-color:lightblue;
    font-weight: 500;
}

label{
    font-size: large;
}

label:hover,span:hover{
    text-decoration: underline;
    font-size: x-large;
    color:rgb(252, 110, 157);
}

#products{
    background-color:rgb(185, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size:larger;
    border-radius: 0cm 0cm 1cm 1cm;
    justify-content: space-around;
}

#div1{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 13px;
    font-weight: 500;
    border: 10px solid dimgray;
    width: 150px;
    margin: 25px;
}

input{
    background-color: rgb(0, 0, 0);
    padding: 3px;
    margin-bottom: 15px;
    font-size: large;
    color: rgb(255, 255, 255);
    border-color: rgb(231, 4, 4);
}

input:focus-visible{
    background-color:rgb(94, 154, 233);
    color: black;
}

input:hover{
    background-color: aliceblue;
    color: black;
}